<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center"> Dados do Atendimento </ion-title>
    <ion-buttons slot="end" *ngIf="trip.status == 'waiting'">
      <ion-button color="danger" fill="solid" (click)="cancelTrip()">CANCELA
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngIf="passenger.phoneNumber">
          <ion-label>
            <ion-text>
              <h2>{{(passenger)?.name }}</h2>
            </ion-text>
            <ion-text>
              <p>{{(passenger)?.ddd }}{{(passenger)?.phoneNumber }}</p>
            </ion-text>
          </ion-label>
          <ion-button color="dark"  slot="end" href="tel:{{passenger.phoneNumber}}">
            <ion-icon  name="call"></ion-icon>&nbsp; CHAMAR
          </ion-button>
        </ion-item>
       
        <ion-item>
          <ion-label>
            <ion-text>
              <h2>LOCAL</h2>
            </ion-text>
            <ion-text>
              <p *ngIf="trip.origin != undefined">{{ trip.origin.vicinity }}</p>
            </ion-text>
          </ion-label>
          <ion-button slot="end" fill="outline" color="dark"
            (click)="getDirection(trip.origin.location.lat,trip.origin.location.lng)">
            <ion-icon name="navigate"></ion-icon>&nbsp; NAVEGAR
          </ion-button>
        </ion-item>

        <ion-item *ngIf="total">
          <ion-label> 
            <h2>Valor R$:</h2>   
        </ion-label>
          <input position="floating" [(ngModel)]="tax" slot="end"/>
          <ion-button slot="end" fill="outline" color="dark"
            (click)="valuePayment()">
          OK
          </ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button *ngIf="trip.status == 'waiting'" expand="block" color="dark" (click)="pickup()">INICIAR ATENDIMENTO
    </ion-button>
    <ion-button  *ngIf="trip.status == 'going' && mostraBotao" expand="block" color="dark" (click)="showPayment()">
     FINALIZAR O ATENDIMENTO</ion-button>
  </ion-toolbar>
</ion-footer>