<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242550807542-8ck50u4vpnndvgu09e8vcldog2cv64b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242550807542-8ck50u4vpnndvgu09e8vcldog2cv64b7</string>
	<key>API_KEY</key>
	<string>AIzaSyDiUo9SvREdSn8KOAJt098JXbYfrFO1UJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>242550807542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.condsolution.jetporttecnico</string>
	<key>PROJECT_ID</key>
	<string>jetportoes-6fdcd</string>
	<key>STORAGE_BUCKET</key>
	<string>jetportoes-6fdcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242550807542:ios:ca8eeba31696779cf645d7</string>
	<key>DATABASE_URL</key>
	<string>https://jetportoes-6fdcd.firebaseio.com</string>
</dict>
</plist>