.total-earning{
    color:#4caf50;
    font-size: 18px;
    font-weight: 600;
}
.earning{
    color:#4caf50;
    font-weight: 600;
    margin-left: 4px;
}
p{
    color: rgb(24, 23, 23)
}
ion-item{
    margin: 8px;
    --background: #fbfbfb;
    border-radius: 4px;
}

.trip{
    h3{
        font-weight: 600;
        font-size: 14px;
        color: black;
    }
}