<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Atendimentos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 4px;background:#141414;">
    <ion-row>
      <ion-col>
        <ion-datetime max="{{today}}" value="{{today}}" [(ngModel)]="fromDate"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-datetime max="{{today}}" min={{fromDate}} value="{{today}}" [(ngModel)]="toDate"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-button size="small" fill="clear" (click)="applyFilter()">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="clear" (click)="reset()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Faturamento</ion-label>
      <ion-text slot="end" class="total-earning">
        {{settings.currency}} {{earning | number: '1.2-2'}}
      </ion-text>
    </ion-item>
    <p *ngIf="trips.length == 0" style="margin-top: 5px; text-align: center">Nenhum Atendimento até o momento</p>
    <ion-item *ngFor="let trip of trips" class="trip">
      <ion-label>
        <h3>{{ trip.createdAt | date:'dd MMM , yyyy hh:mm a'}}</h3>
        <p text-wrap>
          <ion-icon name="pin" style="color:#F44336"></ion-icon> {{ trip.origin.vicinity }}
        </p>
      </ion-label>
      <ion-text class="earning" slot="end">{{trip.currency}} {{trip.commission}}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>