ion-thumbnail {
    --size: 8px
}

.vehicle-img {
    margin-top: 5px;
    height: 60px; 
    width: 60px 
}
.header-text {
    font-size: 18px;
    font-style: roboto medium }

ion-grid {
    --ion-grid-padding: 0px;
    height: 100%

    ion-row {
        padding: 0px;
        height: 100%;
    }

    ion-col {
        padding: 0px;
    }

    .col-top-left {
        padding-right: 8px;
        padding-bottom: 8px;
    }

    .col-top-right {
        padding-left: 8px;
        padding-bottom: 8px;
    }

    .col-bottom-left {
        padding-right: 8px;
        padding-top: 8px;
    }

    .col-bottom-right {
        padding-left: 8px;
        padding-top: 8px;
    }
}