.header{
    min-height: 200px;
    text-align: center;
    padding: 2em;
    background-color: var(--ion-color-dark);
    h5{
        text-transform: uppercase;
        color: #777777;
        font-size: 12px;
        margin:0;
    }
    .amountText{
        font-size: 28px;
        font-weight: bold;
        color: var(--ion-color-dark-contrast)
    }
}
ion-item{
    --background: #f9f9f9;
    margin: 8px;
    border-radius: 8px;
}
.footer-md:before{
    background: none;
}

.withdrawl-list{
    .amount{
        font-weight: bold;
        color: var(--ion-color-dark);
        font-size: 16px;
        text-align: right;
    }
}