<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      JetPort
    </ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{ (driver)?.photoURL}}" onerror="this.src='./assets/img/default.png'">
    </ion-avatar>
    <ion-label>
      <h3 style="font-weight:500;">{{ (driver)?.name }} - {{ (driver)?.rating }} <ion-icon name="star"></ion-icon>
      </h3>
      <p>{{ (driver)?.brand }} • {{ (driver)?.model }} • {{ (driver)?.plate }} • {{ (driver)?.type }}</p>
    </ion-label>
    <ion-toggle (ionChange)="changeAvailability()" [(ngModel)]="driver.isOnline" [disabled]="!driver.isApproved"
      slot="end">
    </ion-toggle>
  </ion-item>
  <p style="margin:0; font-size: 12px;font-size: 12px;padding: 4px 8px;">Localização: {{locality}}</p>
</ion-header>

<ion-content>
  <p *ngIf="!driver.isApproved" class="message">Sua conta ainda não foi aprovada</p>
  <div id="map" style="height: 100%;width:100%;"></div>
</ion-content>